* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

main {
  width: 550px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

#new-scheme-form {
  display: flex;
  padding: 1.5rem 1rem;
  align-items: center;
  justify-content: space-between;
}

.input-height {
  height: 42px;
}

#color-input {
  width: 51px;
}

#scheme-select-container {
  position: relative;
}

#scheme-select {
  width: 312px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-angle-down {
  color: #9CA3AF;
  width: 14px;
  font-size: 18px;
}

.scheme-select-options {
  left: 0;
  right: 0;
  margin-top: .25rem;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.select-items {
  border: 1px solid #D1D5DB;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  background-color: white;
}

.select-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 10px;
}

.scheme-type-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-check {
  color: #4F46E5;
  margin: 0 1rem;
}

.scheme-type {
  flex-grow: 2;
}

.scheme-type:hover {
  background-color: #e9e9e9;
}

#get-scheme-btn {
  width: 123px;
  border: 1px solid #D1D5DB;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  background-color: white;
}

#colors {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  min-height: 415px;

}

.color-col {
  grid-row-start: 1;
  grid-row-end: -1;
}

.color {
  height: 415px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  text-align: center;
}

.copy-color {
  cursor: pointer;
  color: rgba(255, 255, 255, .5);
  text-shadow: 3px 3px 1px rgba(0, 0, 0, .4);
}

.color-hex {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
}


/* Utility */

.hidden {
  display: none;
}